<table *ngIf="dataPoints" class="table is-striped is-fullwidth">
  <thead>
    <tr>
      <th>Name</th>
      <th>Id</th>
      <th>Description</th>
      <th>Type</th>
      <th>Unit</th>
      <th style="width: 125px">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let dataPoint of dataPoints">
      <td>{{dataPoint.name}}</td>
      <td>{{dataPoint.id}}</td>
      <td>{{dataPoint.description}}</td>
      <td>{{dataPoint.type}}</td>
      <td>{{dataPoint.unit}}</td>
      <td>
        <div class="buttons has-addons" *ngIf="['INT', 'LONG', 'DOUBLE'].indexOf(dataPoint.type) > -1">
          <button
              class="button {{!!dataPoint.dataTrigger ? 'is-success is-selected is-light is-static' : ''}}"
              (click)="yesClick.emit(dataPoint)">Yes</button>
          <button
              class="button {{!dataPoint.dataTrigger ? 'is-danger is-selected is-light is-static' : ''}}"
              (click)="noClick.emit(dataPoint)">No</button>
        </div>
      </td>
    </tr>
  </tbody>
</table>
