<div class="box">
  <nav class="level">
    <div class="level-left">
      <div class="level-item">
        <h3 class="title is-3">DataSource: {{dataSource.name}}</h3>
        <h3 class="subtitle is-3" *ngIf="dataSource.description">{{dataSource.description}}</h3>
      </div>
    </div>
    <div class="level-right">
      <button class="level-item button is-info is-light" (click)="sendEvent.emit()">Send Event</button>
    </div>
  </nav>

  <app-data-point-table
      [dataPoints]="dataSource.dataPoints"
      (yesClick)="dataPointYesClick.emit($event)"
      (noClick)="dataPointNoClick.emit($event)">
  </app-data-point-table>
</div>
