<div *ngIf="dataSourceConfiguration" class="field is-grouped is-grouped-multiline">
  <div class="control">
    <div class="tags has-addons">
      <span class="tag is-dark">Id</span>
      <span class="tag is-info">{{dataSourceConfiguration.id}}</span>
    </div>
  </div>

  <div class="control">
    <div class="tags has-addons">
      <span class="tag is-dark">eTag</span>
      <span class="tag is-success">{{dataSourceConfiguration.eTag}}</span>
    </div>
  </div>

  <div class="control">
    <div class="tags has-addons">
      <span class="tag is-dark">Configuration Id</span>
      <span class="tag is-primary">{{dataSourceConfiguration.configurationId}}</span>
    </div>
  </div>
</div>
