<nav class="navbar is-black is-fixed-top is-expanded" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <div class="navbar-item">
      <div class="tag is-info">McDataSim</div>

      <div *ngIf="nextError" class="tags has-addons">
        <span class="tag is-warning is-light errorText" title="{{nextError}}">{{nextError}}</span>
        <a (click)="dismissError.emit()" class="tag is-delete"></a>
      </div>
    </div>

    <a role="button" class="navbar-burger burger"
        aria-label="menu" aria-expanded="false"
        (click)="onBurgerClicked()">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div class="navbar-menu {{menuOpen ? 'is-active' : ''}}">
    <div class="navbar-start">
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <button class="button is-primary {{isWorking ? 'is-loading' : ''}}"
              [disabled]="isOnboarded ? true : undefined"
              (click)="this.menuOpen = false; onboard.emit()">
            <strong>Onboard</strong>
          </button>
          <button class="button is-danger {{isWorking ? 'is-loading' : ''}}"
              [disabled]="isOnboarded ? undefined : true"
              (click)="this.menuOpen = false; offboard.emit()">
            Offboard
          </button>
        </div>
      </div>
    </div>
  </div>
</nav>
