<app-header [isOnboarded]="isOnboarded$ | async"
    (onboard)="showOnboardingModal = true" (offboard)="onOffboard()"
    (dismissError)="onDismissError()"
    [nextError]="nextTriggerError$ | async">
</app-header>

<div style="height: 20px;"></div>

<section class="section">
  <h2 class="title is-2">Configuration</h2>

  <app-data-source-config-info [dataSourceConfiguration]="dataSourceConfiguration$ | async">
  </app-data-source-config-info>

  <div style="height: 20px;"></div>

  <article *ngIf="error$ | async; let error" class="message is-danger">
    <div class="message-header"><p>Error</p></div>
    <div class="message-body">{{ error.toString() }}</div>
  </article>

  <ng-container *ngIf="dataSourceConfiguration$ | async; else offboardedWarning">
    <ng-container *ngFor="let dataSource of dataSources$ | async">
      <app-data-source-section
          [dataSource]="dataSource"
          (sendEvent)="showEventModal=true"
          (dataPointYesClick)="selectedDataSource = $event; showTriggerModal = true;"
          (dataPointNoClick)="selectedDataSource = $event; onSaveDataTrigger(null)">
      </app-data-source-section>
    </ng-container>
  </ng-container>

  <ng-template #offboardedWarning>
    <article class="message is-warning">
      <div class="message-header"><p>Warning</p></div>
      <div class="message-body">There is no configuration. Try to onboard!</div>
    </article>
  </ng-template>

</section>

<app-onboard-modal
    *ngIf="showOnboardingModal"
    (onboard)="showOnboardingModal = false; onOnboard($event)"
    (cancel)="showOnboardingModal = false">
</app-onboard-modal>

<app-send-event-modal
    *ngIf="showEventModal"
    (sendEvent)="showEventModal = false; onSendEvent($event)"
    (cancel)="showEventModal = false">
</app-send-event-modal>

<app-setup-trigger-modal
    *ngIf="showTriggerModal"
    (saveDataTrigger)="showTriggerModal = false; onSaveDataTrigger($event)"
    (cancel)="showTriggerModal = false">
</app-setup-trigger-modal>
