<div class="modal is-active">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Onboarding</p>
      <button class="delete" (click)="cancel.emit()"></button>
    </header>
    <section class="modal-card-body">
      <div class="control">
        <textarea #textarea class="textarea has-fixed-size {{hasJsonError ? 'is-danger' : ''}}" placeholder="Onboarding configuration" rows="10"></textarea>
        <p *ngIf="hasJsonError" class="help is-danger">This is not a valid JSON string!</p>
        <p *ngIf="!hasJsonError" class="help">Copy the JSON string from the MindConnect plugin here!</p>
      </div>
    </section>
    <footer class="modal-card-foot">
      <button class="button is-success" (click)="onOnboardClicked(textarea.value)">Onboard</button>
      <button class="button" (click)="cancel.emit()">Cancel</button>
    </footer>
  </div>
</div>
