<div class="modal is-active">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Send Event</p>
      <button class="delete" (click)="cancel.emit()"></button>
    </header>
    <section class="modal-card-body">
      <div class="field">
        <div class="control">
          <label class="label">Severity</label>
          <div class="select">
            <select #select>
              <option value="40">Information</option>  
              <option value="30">Warning</option>
              <option value="20">Error</option>
            </select>
          </div>
        </div>
      </div>
      <div class="field">
        <div class="control">
          <label class="label">Description</label>
          <textarea #textarea class="textarea has-fixed-size" placeholder="Description" rows="3"></textarea>
        </div>
      </div>
    </section>
    <footer class="modal-card-foot">
      <button class="button is-success" (click)="onSendClicked(select.value, textarea.value)">Send</button>
      <button class="button" (click)="cancel.emit()">Cancel</button>
    </footer>
  </div>
</div>
