<div class="modal is-active">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Setup Trigger</p>
      <button class="delete" (click)="cancel.emit()"></button>
    </header>
    <section class="modal-card-body">

      <div class="field columns">
        <div class="control column">
          <label class="label">Lower Bound</label>
          <input #lowerBound class="input {{hasLowerBoundError ? 'is-danger' : ''}}" type="number" value="0">
          <p *ngIf="hasLowerBoundError" class="help is-danger">This is not a valid number!</p>
          <p *ngIf="!hasLowerBoundError" class="help">Lower bound of the function generating numbers!</p>
        </div>
        <div class="control column">
          <label class="label">Upper Bound</label>
          <input #upperBound class="input {{hasUpperBoundError ? 'is-danger' : ''}}" type="number" value="1">
          <p *ngIf="hasUpperBoundError" class="help is-danger">This is not a valid number!</p>
          <p *ngIf="!hasUpperBoundError" class="help">Upper bound of the function generating numbers!</p>
        </div>
      </div>

      <div class="field columns">
        <div class="control column">
          <label class="label">Frequency</label>
          <input #frequency class="input {{hasFrequencyError ? 'is-danger' : ''}}" type="number" value="10">
          <p *ngIf="hasFrequencyError" class="help is-danger">This is not a valid number!</p>
          <p *ngIf="!hasFrequencyError" class="help">Frequency of the function in mHz!</p>
        </div>
        <div class="control column">
          <label class="label">Function</label>
          <div class="select">
            <select #func>
              <option value="const">Constant</option>  
              <option value="rand">Random</option>
              <option value="sine" selected>Sine</option>
              <option value="cosine">Cosinus</option>
              <option value="square">Square</option>
            </select>
          </div>
          <p class="help">The generator function!</p>
        </div>
        <div class="control column">
          <label class="label">Test Frequency</label>
          <div class="select">
            <select #testFrequency>
              <option value="0.2" selected>0.2 Hz</option>
              <option value="0.5" selected>0.5 Hz</option>
              <option value="1" selected>1 Hz</option>
              <option value="5">5 Hz</option>
              <option value="10">10 Hz</option>
              <option value="20">20 Hz</option>
            </select>
          </div>
          <p class="help">The frequency with which data is created!</p>
        </div>
      </div>

    </section>
    <footer class="modal-card-foot">
      <button class="button is-success" (click)="onSaveClicked(lowerBound.value, upperBound.value, frequency.value, func.value, testFrequency.value)">Save</button>
      <button class="button" (click)="cancel.emit()">Cancel</button>
    </footer>
  </div>
</div>
